body {
    background-color: rgb(15, 15, 18);
    align-items: center;
    margin: 20pt;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10pt;
    margin: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  p{
    display:block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 23px;
    background-color: rgb(32, 32, 32);
    padding: 30pt;
    width: 360pt;    
  }

  ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 23px;
    background-color: rgb(32, 32, 46);
    width: 360pt;    
    padding:30pt;
  }
  li {
    font-size: 23px;
    text-align: left;
    padding:10pt;
  }

div {
    display:flex-box;
    flex-direction: column;
    margin: 10pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .p2{
    background-color: rgb(32, 42, 42);
  }